html{
    scroll-behavior: smooth;
    scrollbar-width: 1px;
    overflow: scroll;
   
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

@media only screen and (max-width: 968px) {
    
    html{
        display: flex;
        justify-content: center;
    }
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header {
        display: flex;
        justify-content: center;

    }

    .box01 {
        display: flex;
        justify-content: center;
    }
    /* .semiheader{

    } */
}


header {
    background-color: rgb(29, 43, 33);
    width: 100%;
    display: inline-block;
    height: 3rem;
    /* justify-content: center; */
}
.semiheader{
    display: flex;
}

.logo {
    width: 3rem;
    height: rem;
}

header ul {
    margin-top: 1rem;
    display: flex;
    /* justify-content: center; */
}

header ul li {
    padding-left: 3rem;
    list-style-type: none;
    display: inline-block;
}

header ul li a {
    font-size: medium;
    color: white;
    text-decoration: none;
}
.headitem a:hover{
    margin: opx;
    color: #8f888a;
    font-size: larger;
}
  

.lefthead {
    width: 25%;
    padding-top: 10px;
    display: flex;
    /* margin-left: 290px; */
    float: left;
    position: absolute;
    right: 0px;
    
    

}

.lefthead a {
    font-size: medium;
    color: white;
    text-decoration: none;
    margin-right: 10px !important;

}
.lefthead a:hover {
    font-size: large;
   transition: all;
}

.lnk {
    height: 1.5rem;
    width: 25%;
    display: flex;
    justify-content: center;
}
.inputbox{
    width: 55%;
}

.box01 {
    padding-top: 20px;
    display: ruby-text;
    width: 100%;
    height: 6rem;
    background-color: #000;
    color: white !important;

}

.box01 span {
    margin-left: 0px;
    width: 100%;
}

.btn {
    align-items: center;
    display: flex;
    justify-content: center;
    border: solid 1px #000;
    width: 100px;
    height: 1.8rem;
    background-color: #df185a;
}

.btn>a {
    color: white;
    text-decoration: none;
}

.hhR {

    display: inline-block;
    align-content: center;
}

.whitee {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
    align-items: center;
    background-color: #eee;
    box-shadow: 1px 1px 4px 0px black;
}

.whitee a {
    color: black;
    text-decoration: none;
}

.tablee {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    row-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: shrink;
    padding-top: 30px;
    column-count: 4;
}

.card1 {
    border-bottom: solid 1px gray;
    height: 2rem;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    /* background-color: aqua; */
    display: block;
    width: 15%;
    height: 10rem;
    border-radius: 10px;

}

.content {
    background-color: #000;
    border-radius: 10px;
    height: 80%;
    width: 100%;

}
.card1 image {
    height: 80%;
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
}

.textt{
    display: inline-block;
}


@media only screen and (max-width: 1134px) {
    .card1{
       width: 20%;
    }

    .lnk a{
    height: 1.5rem;
    width: 25%;
    display: flex;
    justify-content: center;
    font-size: small;
    padding: 0px;
}
.inputbox input{
    width: 100%;
}
.semiheader{
    overflow: hidden;
    width: 100%;
    padding: opx;
    margin: 0px;
    /* background-color: red ; */
    display: flex;
    justify-content: left;
    /* justify-content: space-around; */
    /* font-style: italic; */
 
}
.header ul  {
    display: block;
    margin: 0px;
    padding: 2rem;
}
.header ul li {
    margin: 0px;
    padding: 2rem;
}


}

@media only screen and (max-width: 1057px) {
    .fullhead{
       display: flex;
       
    }
    .semiheader{
        overflow: hidden;
        width: 100%;
        /* background-color: red ; */
        display: flex;
        /* justify-content: space-around; */
        /* font-style: italic; */
     
    }
    .semiheader ul{
      padding-left: 1rem;
    }
     .semiheader a{

     margin: 3px;
     padding: 0px;
     font-size: 0.6rem;
    }
    .inputbox input{
        width: 100%;
    }
  
}  

@media only screen and (max-width: 1134px) {
    .semiheader{
        display: flex;
        justify-content: space-around;
     }
}